@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal: #00bfa6;
  --test: #99e1d9;
  --cream: #E0D3BB;
  --accent: #F5C800;
  --bg-dark: #5D576B;
  --bg-medium-dark: #888492;
  --bg-medium: #eeeeee;
  --bg-light: #fcfcfc;
  --font-on-light: #1C1C26;
  --font-on-dark: #fcfcfc;
  --rating-red: #F7567C;
  --rating-green: #3CAB4C;
}

.mask {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat-x: no-repeat;
  -webkit-mask-repeat-y: no-repeat;
}

.mask-squircle {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOTEnIGhlaWdodD0nOTEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTkxIDQ1LjVDOTEgOTEgOTEgOTEgNDUuNSA5MUMwIDkxIDYuODQ0OTNlLTA2IDkxIDUuMjk3NDdlLTA5IDQ1LjVDLTYuODM0MzRlLTA2IDAgMCAtNC41MjcxZS0wNiA0NS41IDIuODU1OThlLTA5QzkxIDQuNTMyODFlLTA2IDkxIDAgOTEgNDUuNVonLz48L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOTEnIGhlaWdodD0nOTEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTkxIDQ1LjVDOTEgOTEgOTEgOTEgNDUuNSA5MUMwIDkxIDYuODQ0OTNlLTA2IDkxIDUuMjk3NDdlLTA5IDQ1LjVDLTYuODM0MzRlLTA2IDAgMCAtNC41MjcxZS0wNiA0NS41IDIuODU1OThlLTA5QzkxIDQuNTMyODFlLTA2IDkxIDAgOTEgNDUuNVonLz48L3N2Zz4=);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
